.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-item .nav-link.active {
  font-weight: bold;
  color: #4ecdc4;
}
#navbarNav {
  justify-content: end;
}
.nav-item .nav-link {
  color: #fff100;
}
