button.custom-button {
  color: #f8f7ff;
  background-color: rgb(78, 205, 196);
}
a.custom-button-red {
  color: #f8f7ff;
  background: #ff4560;
  border: 3px solid black;
}

h3.sectionKey {
  color: #008ffb;
}
