.SearchForm input:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.italic-placeholder {
  font-style: italic;
}
.magnifying {
  color: #fff700;
}
/* Media query for smaller screens */
@media (max-width: 767px) {
  .italic-placeholder::placeholder {
    font-size: 0.7rem; /* Smaller size for mobile */
  }
}
