.SearchForm.custom-autocomplete {
  position: relative;
}
.SearchForm input:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.italic-placeholder {
  font-style: italic;
  font-size: x-large;
}
.magnifying {
  color: #fff700;
}

/* In your CSS file */
.custom-autocomplete {
  position: relative;
  width: 100%;
}

.custom-autocomplete .search-button {
  line-height: 2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;

  background-color: #000;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .italic-placeholder::placeholder {
    font-size: 0.7rem; /* Smaller size for mobile */
  }
}
