.article-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
}

.card.custom-card-article {
  background-color: hsl(53, 31%, 95%);
  border: 2px solid rgb(20, 18, 18);
  min-height: 400px;
}

.btn.custom-tag {
  color: #f8f7ff;
  background-color: #008ffb;
}
