.article-image {
  height: 200px;
  background-size: cover;
  background-position: center; /* Centers the image in the div */
  border-radius: 0.25rem;
}
.carousel-card {
  width: 20%; /* Set your desired width */
  height: 50%;
  margin-right: 15px; /* Optional: Add some space between cards */
}

.card.custom-card-article {
  background-color: #f5f5f5;
  border: 1px solid black;
}

.btn.custom-tag {
  color: #f8f7ff;
  background-color: #008ffb;
}

/* 
Adjust the size  */
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 1;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-next.control-arrow {
  right: 0;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #ffffff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
