.active {
  color: #008ffb;
}

.inactive {
  color: #ff4560;
}
.custom-card-med {
  position: relative;
}

.card-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.custom-chart {
  max-width: auto;
}
div .custom-red-fa {
  color: #ff4560;
}
div .custom-blue-fa {
  color: #008ffb;
}
