.btn.custom-edit-med {
  background-color: #fff700;
  border: 1px solid black;
}
.btn.custom-delete-med {
  background-color: #ff4560;
  color: white;
  border: 1px solid black;
}
.card.custom-card-med {
  border: 3px solid black;
}
