.page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.drug-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  max-width: 500px; /* Adjust based on your preference */
}

.drug-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-title h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 15px;
}

.card-title p {
  font-size: 1rem;
  color: #666;
}

.card-details {
  padding: 15px;
  font-size: 0.9rem;
  color: #555;
}

.text-manufacturer {
  color: #28a745;
}

.details-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.additional-details {
  background-color: #f8f9fa;
  padding: 15px;
  border-top: 1px solid #ddd;
}
